@model Product
@{
    ViewData["Title"] = "AdminDetails";
    Layout = "_CreateLayout";
}

<!--================Single Product Area =================-->
  <div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner justify-content-between">
        <div class="col-lg-7 col-xl-7">
          <div class="product_slider_img">
            <div id="vertical">
              <div data-thumb="/assets/img/product/@Model.Img">
                <img src="/assets/img/product/@Model.Img" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xl-4">
          <div class="s_product_text">
            <h3>@Model.Name</h3>
            <h2>$@Model.UnitPrice</h2>
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>Category</span> : @Model.Category</a>
              </li>
              <li>
                <a href="#"> <span>Availibility</span> : In Stock</a>
              </li>
            </ul>
            <p>
              @Model.Description
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================End Single Product Area =================-->


