@model Product

@{

	ViewData["Title"] = "Create";
	SelectList CategoryItems = new SelectList(ViewBag.Categories, "ID", "Name");
	Layout = "_CreateLayout";
}

<div class="container ">
	<h1 class="l font-italic text-muted">Create Product</h1>
	<div class="section-top-border">
		<div class=" row">
			<div class="col-lg-8 col-md-8">
				<form asp-action="Create" enctype="multipart/form-data">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>

					<div class="mt-10">

						<input asp-for="Name" placeholder="Name"
							   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" required
							   class="single-input-secondary">
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div class="mt-10">

						<input asp-for="Description" placeholder="Description" onfocus="this.placeholder = ''"
							   onblur="this.placeholder = 'Description'" required class="single-input-secondary">
						<span asp-validation-for="Description" class="text-danger"></span>

					</div>

					<div class="mt-10">

						<input asp-for="Color" placeholder="Color" onfocus="this.placeholder = ''"
							   onblur="this.placeholder = 'Color'" required class="single-input-secondary">
						<span asp-validation-for="Color" class="text-danger"></span>

					</div>

					<div class="mt-10">

						<input asp-for="UnitPrice" placeholder="UnitPrice" onfocus="this.placeholder = ''"
							   onblur="this.placeholder = 'UnitPrice'" required class="single-input-secondary">
						<span asp-validation-for="UnitPrice" class="text-danger"></span>

					</div>
					<div class="mt-10">

						<input asp-for="Discount" placeholder="Discount" onfocus="this.placeholder = ''"
							   onblur="this.placeholder = 'Discount'" required class="single-input-secondary">
						<span asp-validation-for="Discount" class="text-danger"></span>

					</div>
					<div class="mt-10">

						<input asp-for="imgFile" placeholder="imgFile" onfocus="this.placeholder = ''"
							   onblur="this.placeholder = 'imgFile'" required class="single-input-secondary">
						<span asp-validation-for="imgFile" class="text-danger"></span>

					</div>

					<div class="mt-10">

						<input asp-for="Rate" placeholder="Rate" onfocus="this.placeholder = ''"
							   onblur="this.placeholder = 'Rate'" required class="single-input-secondary">
						<span asp-validation-for="Rate" class="text-danger"></span>

					</div>
					<div class="mt-10">

						<div class="form-select " id="default-select_1">
							<select asp-for="CategoryID" asp-items="CategoryItems" class="form-control">
								@foreach (Category item in ViewBag.Categories)
								{
									<option value="@item.ID">@item.Name</option>
								}
							</select>
							<span asp-validation-for="CategoryID" class="text-danger"></span>
						</div>
					</div>
					<div class="mt-10">
						<input type="submit" value="Create" class="btn btn-primary" />
						<a asp-action="Index" class="btn btn-danger">Back to List</a>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>



@section Scripts
{
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
